<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kanishkupadhyay.com</title>
</head>
<style>
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .first-div{
        background-image: url("https://images.pexels.com/photos/1407322/pexels-photo-1407322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        height: 90vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .head{
        position: absolute;
        left: 35%;
        top: 25%;
        transform: translate(-50% -50%);
        color: white;
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .third-div{
        display: flex;
        justify-content: center;
    }
   .third-div span {
        color: white;
        width: 50%;
        margin-top: 10%;
        font-size: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        word-spacing: 3px;
    }
    .btn-div{
        display: flex;
        justify-content: center;
    }
    .btn-div button{
        text-decoration: none;
        margin: 30px 30px;
        background-color: saddlebrown;
        color: #FFF;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }

.btn-div button:hover{
    color: gray;
}
    .join-btn{

    }
    .last-div{
        background-color: saddlebrown;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .last-div h1 {
        color: #fff;
        font-size: 25px;
    }
    .sec-div{
        display: flex;
        justify-content: center;
            padding: 90px 0px 0px 0px;
    margin: 0px 0px -109px 0px;
    }
    @media(max-width:866px){
        .third-div span{
            margin-top: 140px;
        }
        .head{
            left: 24%;
        }
    }
    @media(max-width:622px){
         .head{
            left: 16%;
        }
        .third-div span {
            width: 70%;
        }
    }
    @media(max-width:539px){
        .head{
            left: 8%;
        }
    }
    @media(max-width:490px){
        .head{
            font-size: 35px;
        }
    }
    @media(max-width:432px){
        .head{
            font-size: 30px;
        }
        .last-div h1{
            font-size: 20px;
        }
    }
    @media(max-width:321px){
        .last-div h1{
            font-size: 18px;
        }
        .typewrite{
            font-size: 20px;
        }
    }
</style>
<body>
{{>kanishk}}
<div class="first-div">
    <div class="sec-div">
 <h1 class="typewrite">
            <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, I m Kanishk Upadhyay.", "I am a BCA student.", "I Love Design.", "welcome to my project" ]'>
              <span class="wrap"></span>
            </a>
          </h1>
</div>
<div class="third-div">
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quibusdam esse ab ex provident nulla cupiditate aspernatur exercitationem, quasi doloribus dolores cumque labore quo voluptatibus aliquid nisi debitis rem veniam deleniti neque perspiciatis, blanditiis deserunt! Voluptatem autem officia expedita, non, voluptate totam!</span>

 </div>
 <div class="btn-div">
<button class="join-btn"><a href="/join">Join Now</a></button>
<button class="subscribe-btn"><a href="/subscribe">Subscribe</a></button>
</div>
</div>




<div class="last-div">
<h1>@2020 Created by kanishk upadhyay</h1>
</div>
<script>
    console.log("hello")
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
</body>
</html>