<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<style>
     .last-div{
        background-color: saddlebrown;
        display: flex;
        justify-content: center;
        margin-top: 150px;
        
    }
    .last-div h1 {
        color: #fff;
        font-size: 25px;
    }  @media(max-width:432px){
        .head{
            font-size: 30px;
        }
        .last-div h1{
            font-size: 20px;
        }
    }
</style>
<body>
    {{>kanishk}}
    <h1>Welcome to our services</h1>
  <div class="last-div">
<h1>@2020 Created by kanishk upadhyay</h1>
</div>
</body>
</html>