<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
     *{
         margin: 0px;
         padding: 0px;
         box-sizing: border-box;
     }
    .first-head{
        display: flex;
        
        align-items: baseline;
    }
    .first-head span{
        color: white;
        font-size: 25px;
        cursor: pointer;
        padding: 30px 0px 0px 45px;
    }
    .first-ol{
        display: flex;
        justify-content: center;
        
    }
    .first-ol li{
        list-style: none;
        margin: -26px 25px 30px;
        
        font-size: 20px;
        cursor: pointer;
        
    }
    .first-header{
        background-color: saddlebrown;
        height: 15vh;
        
    }
    a{
        text-decoration: none;
        
        color: white;
    }
    a:hover{
        color: gray;
    }
    .kanishk5{
        animation-name: kanishk5;
        animation-timing-function: infinite;
        animation-fill-mode: forwards;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes kanishk5{
        0%{
            margin-left: 0px
        }
        30%{
            margin-right: 20px;
        }
        60%{
            margin-left: 40px;
        }
    }
    /*media queries*/

    @media (max-width:947px){
        .first-head span{
            font-size: 21px;
        }
    }
    @media (max-width:850px)
    {
        .first-head span{
            visibility: hidden;
        }
    }
     @media (max-width:477px){
         .first-ol li{
             font-size: 12px;
         }
     }
     @media (max-width:367px){
         .first-ol li{
             margin: -26px 20px 30px;
         }
     }
     @media (max-width:320px){
         .first-ol li{
             margin: -26px 16px 30px;
         }
     }
      @media (max-width:295px){
         .first-ol li{
             margin: -26px 13px 30px;
         }
     }
</style>
<body>
<header class="first-header">
    <span class="first-head">
        <span class="kanishk5">KanishkUpadhyay</span>
        </span>
    <ol class="first-ol">
        <li> <a href="/">Home</a></li>
        <li> <a href="services">Services</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ol>
</header>
</body>
</html>